.blog-content {
  color: #111;
  line-height: 1.7;
  font-size: 16px;

  pre,code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }
    
  &-blockquote {
    margin: 16px 0;
    padding:24px 16px 24px 48px;
    word-spacing: 1px;
    border-left: 5px solid #f6b73c ;
    background-color: #fff3d4;
    line-height: 2;

    p {
      margin: 14px auto;
      display: block;
    }
  }
  
  &-h1 {
    font-size: 36px;
    font-weight: bolder;
  }

  &-h2 {
    font-size: 28px;
    font-weight: bolder;
  }

  &-h3 {
    font-size: 24px;
    font-weight: bolder;
  }

  &-h4 {
    font-size: 20px;
    font-weight: bolder;
  }

  &-p {
    font-size: 18px;
  }

  &-inlinecode {
    margin-left: 8px;
    margin-right: 8px;
    font-style: italic;
    background-color: #ccc;
  }

  &-pre {
    background-color: rgba(102, 204, 255, 0.4);
    border-radius: 24px;
    overflow-x: auto;
    
    code {
      display: block;
      padding: 16px;
    }
  }
}