.list {
  width: 100%;

  &-item {
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    background-color: rgba(238, 238, 238, 0.6);


    &-title {
      width: 70%;
      border-right: 1px solid #f0f0f0;
      padding:0 12px;
      display: flex;
      align-items: center;
      a {
        color: #40a9ff;
      }
    }

    &-tag{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.tag {
  font-size: 14px;
  margin: 0 4px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #f0f0f0;
  cursor: pointer;
}
